<div class="panel">
  <div class="comments-list">
    <%= image_tag @photo.image.thumb('400x200').url %>
    <br>

    <% if current_user %>
         <%= form_for [@photo, Vote.new] do |f| %>
          <%= f.label "#{@photo.votes.count} votes" %> <br>
          <br>
          <%= f.submit "Like"%> <br>
          <br>
          <% end %>
    <% end %>

    <% if current_user %>
      <%= form_for [@photo, Comment.new] do |f| %>
        <%= f.text_area :text, placeholder: "Enter your comment here..." %><br><br>
        <%= f.submit "Save"%>
      <% end %>
    <% end %>
    <br>
    <h3>Comments:</h3>
    <br>
    <% @photo.comments.order("vote_count DESC").each do |c| %>
      <div class="comments">
      <%= "#{c.user.username} (#{c.vote_count}) [#{c.id}]" %><br>
        <% time = c.created_at.in_time_zone("Eastern Time (US & Canada)") %>
        <%= time.strftime("%m/%d/%Y %I:%M%p") %><br>
        <%= c.text %><br>
      </div>
      <% if current_user %>
        <%= form_tag("/photos/#{@photo.id}/comments/#{c.id}/votes", method: "post") do %>
          <%= submit_tag("Like") %> <br><br>
        <% end %>
      <% end %>
    <% end %>
    <br>
  </div>
</div>