<nav>
    <div class="center-nav">
      <div class="main-nav">
        <ul>
          <li><%= link_to raw("imgur jr"), root_path, id: "logo" %></li>
          <li><%= link_to raw("&#9729; upload images"), new_photo_path %></li>
        </ul>
      </div>
      <div class="secondary-nav">
        <ul>
          <% if !current_user %>
          <li><%= link_to "sign up", new_user_path %></li>
          <li><%= link_to "sign in", login_path %></li>
          <% else %>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
        </div>
    <% end %>
    </div>
</nav>
